@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root {
    --primary-color: #ce3d3d;
    --secondary-color: #922b2b;
    --background: #ebebeb;
    --shadow: #8d8d8d;
}


*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 400;

}

body {
    background-color: var(--background);
}

.c-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.unordered-list {
    padding-left: 1.5rem;
}
.unordered-list li {
    list-style: disc;
}

/*----sidebar----*/

.wrapper .sidebar{
    background: rgb(191 168 133);
    position: fixed;
    left: 0;
    width: 225px;
    height: 100%;
    padding: 20px 0;

    overflow: hidden;
    transition: all 0.5s ease;

    background-color: var(--primary-color);
    color: var(--background);
}

.sidebar-off {
    left: -225px !important;
}

.sidebar .img-container {
    padding-bottom: 1rem;
    border-bottom: 4px solid rgb(31, 28, 28);
}

.sidebar .menu-container {
    margin-top: 1rem;;
}

.sidebar .menu-container .card {
    display: flex;
    align-items: center;

    padding-left: 0.4rem;
    margin: 3px 0;
    height: 4rem;
    font-size: 1.2rem;
    /* border: 2px solid black; */

    transition: all 0.5s ease;
}
.sidebar .menu-container .card:hover {
    background-color: var(--secondary-color);

    margin-left: 1rem;
}

.sidebar .menu-container .card span {
    margin-left: 10px;
}

.sidebar .menu-footer {
    height: 8rem;
}



.sidebar .menu-footer span {
    font-size: 0.8rem;
    width: 6rem;

    margin-left: 4px;
}

/*----Main----*/

.wrapper main {
    width: calc(100% - 225px);
    margin-left: 225px;
    margin-top: 0;
    transition: all 0.5s ease;
}

.main-full {
    margin-left: 0 !important;
    width: 100% !important;
}

main nav{
    /* border: 2px solid black; */
    position: fixed;
    padding: 10px;
    width: 100%;

    background-color: var(--background);
    box-shadow: 0 0 6px 2px var(--shadow);
}

main section {
    /* border: 2px solid black; */
    padding: 10px;
}

main #about-us {
    padding-top: 4rem;
}

main section .container {
    margin-top: 1rem;
    padding: 1rem;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main section .container .info .header {
    font-size: 1.2rem;
}

main section .container .image {
    width: 50%;
    flex-shrink: 1;
}

main footer {
    border: 2px solid black;
    height: 10rem;
    padding: 10px;
}



