*{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-align: justify;
}

a {
    color: black;
}

:root {
    --primary-color: #ce3d3d;
    --secondary-color: #922b2b;
    --background: #ebebeb;
    --shadow: #8d8d8d;
}

.wrapper {
    overflow: hidden;
    display: flex;
    height: 100vh;
}

body {
    background-color: var(--background);
}

.c-col {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.c-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/*----Blanket----*/

.blanket {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;

    background-color: rgba(0, 0, 0, 0.349);
}

@media screen and (max-width: 480px) {
    .blanket-on {
        display: block !important;
    }
}

/*----sidebar----*/

.sidebar{
    background: rgb(191 168 133);
    width: 300px;
    padding: 20px 0;
    z-index: 2;

    overflow-y: scroll;
    transition: all 0.5s ease;

    background-color: var(--primary-color);
    color: var(--background);
}

.sidebar::-webkit-scrollbar {
    display: none;      /* Hide scrollbar for Chrome, Safari and Opera */
}

.sidebar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.sidebar-off {
    left: -225px !important;
}

.sidebar .img-container {
    padding-bottom: 1rem;
    border-bottom: 4px solid rgb(31, 28, 28);
}

.sidebar .menu-container {
    margin-top: 1rem;
}

.sidebar .menu-container .card {
    display: flex;
    align-items: center;

    padding-left: 0.4rem;
    margin: 3px 0;
    height: 4rem;
    font-size: 1.2rem;

    transition: all 0.5s ease;
}

.sidebar .menu-container .card .card__link {
    color: white
}

.sidebar .menu-container .card:hover {
    background-color: var(--secondary-color);

    margin-left: 1rem;
}

.sidebar .menu-container .card span {
    margin-left: 10px;
}

.sidebar .menu-footer {
    align-items: end;
    height: 5rem;
}

.sidebar .menu-footer span {
    font-size: 0.8rem;

    margin-left: 4px;
}


/*----Navigation----*/

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;

    background-color: var(--background);
    box-shadow: 0 0 6px 2px var(--shadow);
    transition: all 0.5s ease;

}

.navbar-minimized {
    width: calc(100% - 225px);
    margin-left: 225px;
    background-color: rgb(201, 201, 201);
}

.navbar .hamburger {
    width: min-content;
    margin-left: 4px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
